.sidebar {
  height: 100%;
  display: block;
  position: fixed;
  right: 10px;
  top: 111px;
}

.option {
  width: 90%;
  text-align: left;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

.extraOptions {
  display: flex;
  float: right;
  position: fixed;
  bottom: 20px;
  font-size: larger;
}

.lane1 {
  position: relative;
  display: flex;
  float: right;
  width: 25%;
  margin: auto;
  padding-left: 20px;
}

.lane2 {
  position: relative;
  display: flex;
  width: 35%;
  margin: 0 auto;
  padding-left: 100px;
}

.sidebarText {
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

#sideBarTitle h1 {
  background-color: hsl(283, 43%, 19%);
  color: hsl(158, 91%, 55%);
  border-left: solid 10px hsl(158, 91%, 55%);
  padding-left: 30px;
  height: 60px;
  width: 250px;
  font-family: "light";
  line-height: 60px;
}

#sideBarTitle {
  display: block;
  width: 100%;
  font-size: 8px;
}
