.recent {
  width: 250px;
  position: fixed;
  height: 100%;
  display: block;
  right: 50px;
  top: 149px;
}

.sidebar {
  
}

.option {
  text-align: left;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

.extraOptions {
  display: flex;
  position: fixed;
  margin-top: 30px;
  width: 250px;
}

.lane1 {
  width: 25%;
  padding-left: 20px;
}

.lane2 {
  width: 25%;
  padding-left: 100px;
}

.sidebarText {
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

#sideBarTitle h1 {
  font-family: "light";
  line-height: 60px;
  text-align: left;
  padding-left: 30px;
}

#sideBarTitle {
  height: 60px;
  width: 250px;
  background-color: hsl(283, 43%, 19%);
  color: hsl(158, 91%, 55%);
  border-left: solid 10px hsl(158, 91%, 55%);
  display: block;
  font-size: 8px;
}
