.thread {
  width: 30%;
  height: 60px;
  background-color: hsl(283, 43%, 19%);
  align-self: center;
  text-align: center;
  border-radius: 6px;
  color: #24f5a8;
  text-decoration-line: none;
}

.Threads button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 6px;
}

.name {
  padding-top: 9px;
}

.buttonCreate {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}
