.thread {
  width: 30%;
  height: 60px;
  background-color: hsl(283, 43%, 19%);
  align-self: center;
  text-align: center;
  border-radius: 6px;
  color: #24f5a8;
  text-decoration-line: none;
}

.name {
  padding-top: 9px;
}
