.thread {
  width: 600px;
  background-color: hsl(283, 43%, 19%);
  text-align: center;
  overflow-wrap: break-word;
  margin: 40px;
}

.thread a {
    color: #24f5a8;
    text-decoration-line: none;
}

.thread h1 {
    margin: 0px;
    padding: 20px;
    line-height: 60px;
}

.threads {
    width: 100%;
    z-index: 5;
}

.allThreads {
    position: absolute;
    left: 50%;
    margin-left: -340px;
}

.threads button {
  background-color: hsl(158, 91%, 55%);
  color: hsl(283, 43%, 19%);
  font-family: 'regular';
  font-size: 8px;
  border: none;
  cursor: pointer;
  width: 250px;
  text-align: left;
  padding-left: 30px;
  height: 60px;
}

.buttonCreate {
  top: 160px;
  right: 40px;
  border-left: solid 10px hsl(283, 43%, 19%);
  position: fixed;
}
