.home {
  display: flex;
  width:100%;
  height:650px;
}

.menu {
  display: flex;
  width: 15%;
  min-height: 600px;
  margin: 2.5%;
}

.topics {
  display: flex;
  position: relative;
  border: 1px black solid;
  float: right;
  width: 57.5%;
  min-height: 600px;
  margin: 2.5%;
}

.news {
  display: flex;
  border: 1px black solid;
  float: right;
  width: 25%;
  min-height: 600px;
  margin: 2.5%;
}

.sectionList {
  border-style: solid;
  color: black;
  width: 100%;
}

.sectionName {
  margin: 2.5%;
  width: 100%;
}