.home {
    display: block;
    width: 100%;
    height: 650px;
}

.menu {
    left: 50px;
    top: 155px;
    position: fixed;
    z-index: 10;
}

.news {
    display: block;
    position: absolute;
    top: 139px;
    left: 50%;
    word-wrap: break-word;
}

@media screen and (max-width: 1600px) {
    .news {
        width: 600px;
        margin-left: -300px;
    }
}

@media screen and (min-width: 1600px) {
    .news {
        width: 800px;
        margin-left: -400px;
    }
}

.news h1 {
    height: 60px;
    background-color: hsl(283, 43%, 19%);
    text-align: center;
    color: #24f5a8;
    text-decoration-line: none;
    line-height: 60px;
    border-radius: 10px;
    border-bottom: solid 10px hsl(158, 91%, 55%);
}

.sectionList {
    width: 100%;
}

.sectionName {
    margin: 2.5%;
    width: 100%;
}