.reaction{
    margin: 25px auto;
    width: 80px;
    left: 50%;
}

.reaction button{
    background-color: transparent;
    border-style: none;
}

.reaction p {
    position: absolute;
    display: inline;
    margin-left: 5px;
}