#thread {
    position: absolute;
    top: 139px;
    left: 50%;
    transition: 0.5s ease;
}

#thread h1 {
    height: 60px;
    background-color: hsl(283, 43%, 19%);
    text-align: center;
    color: #24f5a8;
    text-decoration-line: none;
    line-height: 60px;
    border-radius: 10px;
    border-bottom: 10px solid #24f5a8;
}

#thread textarea {
    text-justify: distribute;
}

@media screen and (max-width: 1600px) {
    #thread {
        width: 600px;
        margin-left: -300px;
    }
}

@media screen and (min-width: 1600px) {
    #thread {
        width: 800px;
        margin-left: -400px;
    }
}