#thread {
    position: absolute;
    top: 139px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

#thread h1 {
    height: 60px;
    background-color: hsl(283, 43%, 19%);
    text-align: center;
    color: #24f5a8;
    text-decoration-line: none;
    line-height: 60px;
    border-radius: 10px;
    border-bottom: 10px solid #24f5a8;
}

#thread textarea {
    text-justify: distribute;
}