.active-section {
  color: #ff435f;
  border-left: solid 10px #ff435f;
  background-color: hsl(283, 43%, 19%);
}

.section {
  color: hsl(158, 91%, 55%);
  border-left: solid 10px hsl(158, 91%, 55%);
}

a button {
  margin: 5px 0px;
  height: 60px;
  border: none;
  width: 250px;
  background-color: hsl(283, 43%, 19%);
  font-family: "light";
  font-size: 8px;
  text-align: left;
  padding-left: 30px;
}
