.menuFrame .active-section {
  color: #ff435f;
}

.menuFrame .section {
  color: hsl(158, 91%, 55%);
}

.menuFrame a button {
  height: 40px;
  border: none;
  width: 140px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  cursor: pointer;
  margin-bottom: 15px;
}

.menuFrame .indent {
    margin-left: 30px;
}

.menuFrame .bar {
    height: 40px;
    border-radius: 10px;
    width: 10px;
    background-color: hsl(158, 91%, 55%);
    display: inline-block;
    position: absolute;
}

.menuFrame .section h1, .menuFrame .active-section h1 {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-family: "regular";
    font-size: 16px;
    padding-left: 25px;
    margin: 0px;
    position: absolute;
}

.menuFrame .section .bar {
    background-color: hsl(158, 91%, 55%);
}

 .menuFrame .active-section .bar {
    background-color: #ff435f;
 }