.topicList1 {
    display: flex;
    position: relative;
    margin: 2.5%;
    min-height: 20%;
    width: 95%;
}

.rightBox1 {
    display: flex;
    position: relative;
    float: right;
    height: 95%;
    width: 100px;
}

.leftBox1 {
    display: block;
    position: relative;
    min-height: 100%;
    width: 75%;
}

#pensionTitle {
    position: relative;
    float: left;
    clear: left;
    float: left;
    height: 40%;
    width: 95%;
    margin-left: 2.5%;
}

#pensionDescription {
    position: relative;
    float: left;
    clear: left;
    height: 55%;
    width: 95%;
    margin-left: 2.5%;
}

#pensionDate {
    position: relative;
    float: right;
    width: 150px;
    height: 100%;
}

#date {
    font-size: 12px;
    text-align: center;
    border: none;
}
