.topicList2 {
    display: flex;
    position: relative;
    margin: 2.5%;
    min-height: 22.5%;
    width: 95%;
}

.rightBox2 {
    display: flex;
    position: relative;
    float: right;
    height: 95%;
    width: 100px;
}

.leftBox2 {
    display: block;
    position: relative;
    min-height: 100%;
    width: 75%;
}

#riskTitle {
    position: relative;
    float: left;
    clear: left;
    float: left;
    height: 40%;
    width: 95%;
    margin-left: 2.5%;
}

#riskDescription {
    position: relative;
    float: left;
    clear: left;
    height: 55%;
    width: 95%;
    margin-left: 2.5%;
}

#riskDate {
    position: relative;
    border: solid;
    color: black;
    float: right;
    width: 150px;
    height: 100%;
}

#date {
    font-size: 12px;
}
