.header {
    width: 100%;
    height: 115px;
    display: inline-flex;
    box-shadow: 0px 0px 10px 10px rgba(100, 100, 100, 0.5);
    font-family: "regular";
    background-color: hsl(283, 43%, 19%);
    color: hsl(158, 91%, 55%);
    position: fixed;
    z-index: 10;
}

.searchbar input[type="search"],
.searchbar input[type="search"]:focus {
    font-family: "medium";
    font-size: 16px;
    width: 500px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
    padding: 15px;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.searchbar {
    margin-top: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-250px, 50%);
}

.title {
    display: flex;
    position: absolute;
    left: 50px;
    transform: translateY(50%);
}

.title img {
    height: 50px;
}

.title h1 {
    padding: 0px;
    margin: 0px 15px;
    color: hsl(158, 91%, 55%);
    line-height: 50px;
}

.notification {
    margin-top: 26px;
    position: absolute;
    right: 120px;
    transform: translateY(50%);
}

.other-notification {
    margin-top: 26px;
    position: absolute;
    right: 198px;
    transform: translateY(50%);
}

.notification img,
.other-notification img {
    width: 30px;
    cursor: pointer;
    filter: invert(97%) sepia(80%) saturate(5487%) hue-rotate(74deg) brightness(108%) contrast(92%);
}

.profile {
    margin-top: 13px;
    position: absolute;
    right: 50px;
    transform: translateY(50%);
}

.profile img,
.profile img:focus {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

.profileActions {
    margin-top: 38px;
    position: absolute;
    right: 50px;
    transform: translateY(50%);
}

.profileActions a {
    text-decoration: none;
    color: black;
}

.logout-menu {
    position: absolute;
    right: 40px;
    top: 86px;
}

.logout-menu button {
    background-color:hsl(158, 91%, 55%);
    color: hsl(283, 43%, 19%);
    font-family: 'regular';
    font-size: 14px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 6px;
    z-index: 8;
}

.logout-menu .point {
    position: absolute;
    right: 23px;
    top: 0px;
    background-color: hsl(158, 91%, 55%);
    width: 25px;
    height: 25px;
    z-index: 7;
    transform: rotate(45deg);
    display: block;
}

.loginButton {
    margin-right: 13px;
    color: hsl(158, 91%, 55%) !important;
}

.registerButton {
    margin-left: 13px;
    color: hsl(158, 91%, 55%) !important;
}

.profile button {
    background-color: transparent;
    border: none;
}

.logo {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 10px;
}

#mainHeading {
    cursor: pointer;
}