.topicList4 {
    display: flex;
    border: solid;
    color: black;
    position: relative;
    margin: 2.5%;
    min-height: 10%;
    width: 95%;
}

.rightBox4 {
    display: flex;
    position: relative;
    float: right;
    height: 95%;
    width: 100px;
}

.leftBox4 {
    display: block;
    position: relative;
    min-height: 100%;
    width: 75%;
}

#forum2Title {
    position: relative;
    float: left;
    clear: left;
    float: left;
    height: 40%;
    width: 95%;
    margin-left: 2.5%;
}

#forum2Date {
    position: relative;
    float: right;
    text-align: center;
    width: 150px;
    height: 100%;
}

#date2 {
    font-size: 12px;
    text-align: center;
    border: none;
}