.register button {
    position: fixed;
  background-color: #24f5a8;
  color: hsl(283, 43%, 19%);
  border: none;
  cursor: pointer;
  width: 830px;
  border-radius: 10px;
  margin-left: -415px;
  height: 45px;
  border-right: 10px solid hsl(283, 43%, 19%);
  padding: 15px;
  top: 500px;
}

.register button h1 {
    text-align: left;
    font-size: 12px;
    font-family: 'regular';
    margin: 0px;
}

.register #incorrect {
    color: red;
    text-align: center;
    width: 800px;
    margin-left: -400px;
    position: absolute;
    top: 405px;
}

.register {
    position: absolute;
    left: 50%;
    top: 180px;
}

.register input[type='text'],
.register input[type='password'] {
    position: fixed;
    width: 800px;
    margin-left: -415px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
    font-family: 'light';
    padding: 15px;
}

.register #email {
    top: 260px;
}

.register #firstName {
    top: 320px;
}

.register #lastName {
    top: 380px;
}

.register #password {
    top: 440px;
}

.register h1 {
    text-align: center;
    width: 800px;
    margin-left: -400px;
    font-family: 'regular';
}