.comments {
    position: absolute;
}

.comments button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 6px;
    margin: 8px 0 8px 10px;
}

.comment {
    display: flex;
    flex-direction: row;
}

.comment-author {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.comment-author img {
    width: 80px;
}

.comment-author h1 {
    font-size: 20px;
}