@media screen and (max-width: 1800px) { /* 270 px */
    .comments textarea,
    .comments textarea:focus {
        width: 270px;
    }

    .comments {
        width: 270px;
    }
}

@media screen and (min-width: 1800px) { /* 580 px */
    .comments textarea,
    .comments textarea:focus {
        width: 320px;
    }

    .comments {
        width: 320px;
    }
}

.comments {
    position: fixed;
    top: 160px;
    right: 80px;
    transition: 0.5s ease;
}

.comments textarea,
.comments textarea:focus {
    transition: 0.5s ease;
    border: none;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-family: 'light';
}

.comments button {
    background-color: #24f5a8;
    color: hsl(283, 43%, 19%);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 125px;
    margin: 8px 0 0px 0px;
    border-radius: 6px;
    font-family: 'regular';
    font-size: 8px;
    border-right: 6px solid hsl(283, 43%, 19%);
    
}

.comments button h1 {
    text-align: left;
    margin: 0px;
}

.comment-author {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.comment-author img {
    width: 80px;
}

.comment-author h1 {
    font-size: 20px;
}