.login button {
  position: absolute;
  top: 685px;
  background-color: #24f5a8;
  color: hsl(283, 43%, 19%);
  border: none;
  cursor: pointer;
  width: 830px;
  border-radius: 10px;
  left: 50%;
  margin-left: -415px;
  height: 45px;
  border-right: 10px solid hsl(283, 43%, 19%);
  text-align: left;
  padding: 15px;
}

.login button h1 {
    font-size: 12px;
    font-family: 'regular';
    margin: 0px;
}

.login #incorrect {
  color: red;
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 740px;
  text-align: center;
}

.login input[type='text'],
.login input[type='password'] {
    width: 800px;
    border-radius: 10px;
    padding: 15px;
    font-family: 'light';
    border: none;
    outline: none;
    margin-left: -415px;
    position: absolute;
    left: 50%;
    top: 250px;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}

.login input[type='text'] {
    top: 535px;
}

.login input[type='password'] {
    top: 610px;
}

#icon {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 200px;
}