.login input {
  width: 800px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 6px;
}

.login button:hover {
  opacity: 0.8;
}

#incorrect {
  color: red;
}

.form {
  text-align: center;
}

.Button {
  text-align: center;
}
